# Carpetas generadas por MCUXpresso
Debug
.settings/
.settings
MCU/
MCU
Release/
build/
CMSISv1p30_LPC17xx/
CMSISv2p00_DSPLIB_CM3/
CMSISv2p00_LPC17xx
AzureRTOS_TAD_logs/
FreeRTOS_TAD_logs/
ZephyrRTOS_TAD_logs/
documentacion placa/

.metadata/
.recommenders/
.settings/
.cproject/
.project/

*.pdf
*.txt
*.ppt
*.pptx
*.odp
*.log

*.elf
*.bin
*.hex
*.map
*.lst
*.o
*.d
*.a
